.card {
  position: relative;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.card::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Reduced parallax effect on hover */
.card:hover .content {
  transform: translateZ(6px);
}

.content {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}
