/* Font Face Definition */
@font-face {
    font-family: 'FuturaPTBook';
    src: url('FuturaPTBook.otf') format('opentype');
}

/* Basic Setup */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
    font-family: 'FuturaPTBook', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    user-select: none;
}

/* Gallery Container Configuration */
.gallery-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Main Image and Sidebar Styles */
.main-images, .sidebar {
    overflow-y: auto;
    height: 100%;
}

/* Hides the scrollbars */
.main-images, .sidebar {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer + Edge */
}

.main-images::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    display: none;
}

.main-images {
    flex: 1;
    max-width: 900px; /* This can remain as is to limit the container width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.main-images img {
    width: 100%; /* Each image takes the full width of the container */
    height: auto; /* Height adjusts automatically to maintain aspect ratio */
    opacity: 1;
    transition: opacity 0.2s ease;
    margin-bottom: 15px;
}

/* Sidebar Configuration */
.sidebar {
    width: 150px;
    background-color: transparent;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-right: 10px;
    padding-left: 0;
    padding-top: 80px;
    padding-bottom: 10px;
}

.sidebar img {
    width: 120px; /* Set the base width of the images */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.5; /* Set base opacity */
    border: 2px solid transparent; /* Start with a transparent border */
    transition: opacity 0.3s ease, transform 0.3s ease, border-color 0.3s ease; /* Smooth transition effects */
    cursor: pointer;
    transform-origin: center; /* Ensures scaling happens evenly from the center */
}

.sidebar img:hover {
    opacity: 1; /* Full opacity on hover */
    transform: scale(1.1); /* Slightly increase size */
    border: 2px solid white; /* White border on hover */
}

/* Responsive Adjustments for Sidebar at Smaller Screens */
@media (max-width: 768px) {
    .main-images {
        padding-right: 0px;
    }

    .sidebar {
        gap: 2px;
        padding: 10px 2px;
        width: 100px;
        padding-top: 70px;
    }

    .sidebar img {
        width: 80px;
        transform: scale(0.8);
    }

    .sidebar img:hover {
        transform: scale(0.9);
    }

    .nav .navlinks li a {
        font-size: 0.9rem !important;
    }
}

/* Navigation Bar Styling */
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    background-color: rgba(43, 43, 43, 0.329);
    line-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav .navlinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav .navlinks li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.nav .navlinks li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    padding: 4px 12px;
    border: 1px solid #fff;
    transition: padding 0.3s ease;
}

.nav .navlinks li a:hover {
    padding: 8px 16px;
}

.nav .navlinks li a.active {
    background-color: #ffffff;
    color: #000000;
}

.back-button {
    position: fixed;
    left: 30px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(43, 43, 43, 0.329);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back-button img {
    width: 20px;
    height: 20px;
    transform: rotate(90deg) translateY(2px); 
}