/* Normal */
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTLightOblique.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTDemiOblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTMediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTExtraBoldOblique.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT";
  src: url("./FuturaPTHeavyOblique.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
